<div class="row">
    <div class="col-md-12">
        <h1>Your recieved messages</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>From</h3>
    </div>
    <div class="col-sm-8 message-content">
        <h3>Message</h3>
    </div>
</div>
<% @messages.each do |f|%>
    <div class="row read-<%= f.read %>">
        <div class="col-sm-4">
            <p><%= get_user(f.user_id).alias %></p>
            <p>Status: <span class="status"><%= find_status(f) %></span></p>
        </div>
        <div class="col-sm-8 message-content">
            <p><%= link_to f.title, message_path(f) %></p>
            <p><%= f.content %></p>
            <p><%= link_to "Delete", message_path(f), method: :delete, data: {:confirm => "are you sure?"} %></p>
            <p><%= f.created_at %></p>
        </div>
    </div>
<% end %>
<%= no_results(@messages, "messages").html_safe %>
<div class="row">
    <div class="col-md-12">
        <span><%= link_to "Send a new message", new_message_path(params[:format]) %></span>
        <div><%= paginate @messages %></div>
        <span><%= link_to "View Sent messages", sentmessages_path %></span>
    </div>
</div>