<%= form_for @forum do |f| %>
    <% if !@forum.errors.empty? %>
        <div class="row">
            <div class="col-md-12 errorBox">
                <h4>Error report</h4>
                <% @forum.errors.each do |attribute, error| %>
                    <div class="row">
                        <div class="col-md-12">
                            <%= attribute %>
                            <%= error %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
    <div class="row">
        <div class="col-md-12 title">
            <%= f.label :title %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 input">
            <%= f.text_field :title, :placeholder => "Title" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 description">
            <%= f.label :description %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 description">
            <%= f.text_area :description, :placeholder => "Description" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= f.submit :class => "flat-rounded-button" %>
        </div>
    </div>
<% end %>