<div class="row">
    <div class="col-sm-12">
        <h1>All the topics for forum: <%= get_forum(params[:id]).title %></h1>
        <p>Forum description: <%= get_forum(params[:id]).description %></p>
    </div>
</div>
<div class="row header">
    <div class="col-sm-3">
        <h3>Title</h3>
    </div>
    <div class="col-sm-3">
        <h3>Post count</h3>
    </div>
    <div class="col-sm-3">
        <h3>Topic creator</h3>
    </div>
    <div class="col-sm-3">
        <h3>Creation date</h3>
    </div>
</div>
<% @topics.each do |f|%>
    <div class="row">
        <div class="col-sm-3">
            <p><%= link_to f.title, topic_path(f.id) %></p>
            <p><%= f.description %></p>
        </div>
        <div class="col-sm-3">
            <p><%= f.posts.count %></p>
        </div>
        <div class="col-sm-3">
            <p><%= get_user(f.user_id).alias %></p>
        </div>
        <div class="col-sm-3">
            <p><%= f.created_at %></p>
            <% if current_user.id === f.user_id %>
                <%= render "indexShowEdit", :topic => f %>
            <% end %>
        </div>
    </div>
<% end %>
<%= no_results(@topics, "topics").html_safe %>
<div class="row footer">
    <div class="col-sm-12">
        <%= paginate @topics %>
        <p><%= link_to "Create new topic", new_topic_path(:id => params[:id]) %></p>
    </div>
</div>