<div class="row">
    <div class="span12">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>
    </div>
</div>
<div class="row">
    <div class="span12">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
            <% if !resource.errors.empty? %>
                <div class="row">
                    <div class="span12">
                        <%= devise_error_messages! %>
                    </div>
                </div>
            <% end %>
            <div class="row">
                <div class="span6">
                    <%= f.label :email %>
                </div>
                <div class="span6">
                    <%= f.email_field :email, :autofocus => true %>
                </div>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div class="row">
                    <div class="span12">
                        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                    </div>
                </div>
            <% end %>
            <div class="row">
                <div class="span6">
                    <%= f.label :password %> (leave blank if you don't want to change it)
                </div>
                <div class="span6">
                    <%= f.password_field :password, :autocomplete => "off" %>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <%= f.label :password_confirmation %>
                </div>
                <div class="span6">
                    <%= f.password_field :password_confirmation %>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h2>Personal Details</h2>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <p><%= f.label :forename %></p>
                </div>
                <div class="span6">
                    <%= f.text_field :forename %>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <p><%= f.label :surname %></p>
                </div>
                <div class="span6">
                    <%= f.text_field :surname %>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <p><%= f.label :aboutme %></p>
                </div>
                <div class="span6">
                    <%= f.text_area :aboutme %>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <p><%= f.label :alias %></p>
                </div>
                <div class="span6">
                    <%= f.text_field :alias %>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <h2>Update Confirmation:</h2>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <p><%= f.label :current_password %> (we need your current password to confirm your changes)</p>
                </div>
                <div class="span6">
                    <%= f.password_field :current_password %>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <%= f.submit "Update" %>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span12">
                <h3>Cancel my account</h3>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <p>Permanentley delete my account: 
            </div>
            <div class="span6">
                <p><%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <%= link_to "Back", :back %>
            </div>
        </div>
    </div>
</div>

