<div class="row">
    <div class="col-sm-12">
        <h2>Edit <%= resource_name.to_s.humanize %> Account</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 user-yield">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true  }) do |f| %>
            <% if !resource.errors.empty? %>
                <div class="row">
                    <div class="col-sm-12 errorBox">
                        <h4>Error report</h4>
                        <% resource.errors.each do |attribute, error| %>
                            <div class="row">
                                <div class="col-sm-12">
                                    <%= attribute %>
                                    <%= error %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
            <div class="profile-accordian">
                <div class="row">
                    <div class="col-sm-12">
                        <%= f.label :email %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <%= f.email_field :email, :autofocus => true %>
                    </div>
                    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div class="row">
                            <div class="col-sm-12">
                                <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                            </div>
                        </div>
                    <% end %>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>Change Password</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <%= f.password_field :password, :autocomplete => "off", :placeholder => "Password" %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <%= f.label :password_confirmation %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <%= f.password_field :password_confirmation, :placeholder => "New Password Confirmation" %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p><%= f.label :forename %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <%= f.text_field :forename, :placeholder => "Forename" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p><%= f.label :surname %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <%= f.text_field :surname, :placeholder => "Surname" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p><%= f.label :alias %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <%= f.text_field :alias, :placeholder => "Alias" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p><%= f.label :aboutme %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <%= f.text_area :aboutme, :placeholder => "About Me" %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <%= f.label :avatar %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <%= f.file_field :avatar, :placeholder => "Avatar" %>
                    </div>
                </div>
            </div>
            <div class="row submit">
                <div class="row">
                    <div class="col-sm-6">
                        <p><%= f.label "Verfication Password" %></p>
                    </div>
                    <div class="col-sm-6">
                        <%= f.password_field :current_password, :placeholder => "Current Password" %>
                    </div>
                </div>
                <div class="col-sm-12">
                    <%= f.submit "Update", :class => "flat-rounded-button" %>
                </div>
            </div>
        <% end %>
        <div class="row">
            <div class="col-sm-12">
                <h2>Cancel my account</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><%= button_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "flat-rounded-button" %></p>
            </div>
        </div>
    </div>
</div>
