<%= form_for @topic do |f| %>
    <%= f.hidden_field(:forum_id, :value => params[:id].to_i) %>
    <% if !@topic.errors.empty? %>
        <div class="row">
            <div class="col-md-12 errorBox">
                <h4>Error report</h4>
                <% @topic.errors.each do |attribute, error| %>
                    <div class="row">
                        <div class="col-md-12">
                            <%= attribute %>
                            <%= error %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
    <div class="row">
        <div class="col-sm-6 title">
            <%= f.label :title %>
        </div>
        <div class="col-sm-6 description">
            <%= f.label :description %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 input">
            <%= f.text_field :title, :placeholder => "title" %>
        </div>
        <div class="col-sm-6 description">
            <%= f.text_area :description, :placeholder => "description" %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <%= f.submit :class => "flat-rounded-button" %>
        </div>
    </div>
<% end %>