<div class="row">
    <div class="col-md-12">
        <h1>Topics</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Title:</p>
    </div>
    <div class="col-md-3">
        <p>Topic creator:</p>
    </div>
    <div class="col-md-3">
        <p>Creation date:</p>
    </div>
</div>
<div class="row">
    <% @topics.each do |f|%>
        <div class="col-md-6 profile">
            <p><%= link_to f.title, post_path(f) %></p>
            <p><%= f.description %></p>
        </div>
        <div class="col-md-3">
            <p><%= get_user(f.user_id).alias %></p>
        </div>
        <div class="col-md-3">
            <p><%= f.created_at %></p>
        </div>
    <% end %>
    <div class="row">
        <div class="col-md-12">
            <%= link_to "Create new topic", new_topic_path(:topic => f) %>
        </div>
    </div>
</div>
<%= no_results(@topics, "topics").html_safe %>