<div class="row">
    <div class="col-sm-12">
        <h1>All the posts for topic: <%= get_topic(params[:id]).title %></h1>
        <p>Topic description: <%= get_topic(params[:id]).description %></p>
    </div>
</div>
<% @posts.each do |f|%>
    <div class="row">
        <div class="col-sm-2">
            <p><%= f.title %></p>
        </div>
        <div class="col-sm-7">
            <p><%= f.description %></p>
        </div>
        <div class="col-sm-3">
            <span><%= link_to get_user(f.user_id).alias, "/" + get_user(f.user_id).alias %> <br /> <%= f.created_at %></span>
        </div>
    </div>
<% end %>
<%= no_results(@posts, "posts").html_safe %>

<%= render :partial => "posts/form" %>