<div class="row">
    <div class="col-sm-12">
        <h1>All the posts for topic: <%= get_topic(params[:id]).title %></h1>
        <p>Topic description: <%= get_topic(params[:id]).description %></p>
    </div>
</div>
<% @posts.each_with_index do |f, index|%>
    <% #posts are on opposing sides but stay the same side if consecutive posts %>
    <% if @posts.at(index - 1).user.alias == f.user.alias %>
        <% @pointer = @pointer %>
    <% else %>
        <% @pointer = !@pointer %>
    <% end %>
    <div class="row reply-<%= @pointer %>">
        <% if @pointer == false %>
            <div class="col-sm-11 col-sm-offset-1">
        <% else %>
            <div class="col-sm-11">
        <% end %>
            <div class="row">
                <div class="col-sm-9 bubble">
                    <div class="row">
                        <div class="col-sm-12 title">
                            <p><%= f.title %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 description">
                            <p><%= f.description %></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 alias">
                    <span><%= f.created_at %><%= link_to get_user(f.user_id).alias, "/" + get_user(f.user_id).alias %></span>
                    <%= image_tag get_user(f.user_id).avatar_url_thumb %>
                </div>
            </div>
        </div>
    </div>
<% end %>

<%= paginate @posts %>
<%= no_results(@posts, "posts").html_safe %>

<%= render :partial => "posts/form" %>