<div class="row forumTitle">
    <div class="span12">
        <h1>All the topics for <%= get_forum(params[:id]).title %></h1>
        <p><%= get_forum(params[:id]).description %></p>
    </div>
</div>
<div class="row forum">
    <div class="span12">
        <div class="row">
            <div class="span6">
                <h3>Title:</h3>
            </div>
            <div class="span3">
                <h3>Topic creator:</h3>
            </div>
            <div class="span3">
                <h3>Creation date:</h3>
            </div>
        </div>
    </div>
</div>
<% @topics.each do |f|%>
    <div class="row forum">
        <div class="span12">
            <div class="row">
                <div class="span6">
                    <h3><%= link_to f.title, post_path(f.id) %></h3>
                    <p><%= f.description %></p>
                </div>
                <div class="span3">
                    <p><%= get_user(f.user_id).alias %></p>
                </div>
                <div class="span3">
                    <p><%= f.created_at %></p>
                </div>
            </div>
        </div>
    </div>
<% end %>
<div class="row">
    <div class="span12">
        <p><%= link_to "Create new topic", new_topic_path(params[:id]) %></p>
    </div>
</div>