<div class="row">
    <div class="col-sm-6 pull-right">
        <p><%= link_to "Upload new news", new_news_path %></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h1>The News</h1>
    </div>
</div>
<div class="row" id="news-wrapper">
    <% @news.each do |f|%>
        <div class="col-sm-12 news-object">
            <div class="row">  
                <div class="col-sm-12 poster">              
                    <%= link_to get_user(f.user_id).alias %>
                    <%= image_tag(get_user(f.user_id).avatar_url_thumb) %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p><%= link_to f.title, news_path(f.id) %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p><%= f.description.html_safe %></p>
                </div>
            </div>
            <% if current_user.id === f.user_id %>
                <div class="row edit-options">
                    <div class="col-sm-12">
                        <%= render "news/indexEdit", :news => f %>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
<%= no_results(@news, "news reports").html_safe %>
<div class="row footer">
    <div class="col-sm-12">
        <div id="news-index-scroller"></div>
    </div>
</div>