<%= form_for @photo do |f| %>
    <div class="row">
        <div class="col-sm-12">
            <%= f.label :title %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <%= f.text_field :title, :placeholder => "Title" %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <%= f.label :description %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <%= f.text_area :description, :placeholder => "Description" %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <%= f.label :picture %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <%= f.file_field :picture %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <%= f.submit :class => "flat-rounded-button" %>
        </div>
    </div>
<% end %>