<div class="row">
    <div class="col-md-12">
        <h1>Listing the most recently uploaded photos</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <%= link_to "Add new images", new_photo_path(params[:format]) %>
        <span>or</span>
        <%= link_to "View only your images", :name => current_user.alias %>
    </div>
</div>
<div class="row">
    <% @photos.each do |f|%>
        <div class="col-md-3 photo-wrapper">
            <div class="photo-overlay">
                <%= link_to (image_tag f.picture.url(:medium)), photo_path(f) %>
                <div class="photo-overlay-text">
                    <h3><%= f.title %></h3>
                    <h4><%= f.description %></h4>
                </div>
            </div>
        </div>
    <% end %>
</div>
<div class="row">
    <div class="col-md-12">
        <% if !@alias %>
            <%= paginate @photos %>
        <% end %>
    </div>
</div>