<div class="row forumTitle">
    <div class="col-md-12">
        <h1>Showing <%= get_user(current_user).alias %>'s photo</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <span><%= link_to "Create new photo", new_photo_path(params[:id]) %></span>
    </div>
</div>
<div class="row">
    <div class="col-md-12 photo-overlay">
        <div class="photo-overlay-text">
            <h3>Title:</h3>
            <p><%= @photo.title %></p>
            <h3>About:</h3>
            <p><%= @photo.description %></p>
        </div>
        <%= image_tag @photo.picture %>
    </div>
</div>