<div class="row">
	<div class="col-sm-9">
        <div class="row">
            <div class="col-sm-12">
                <h2><%= current_user.alias %></h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Your Friends</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <% @user.friends.each do |f| %>
                            <% if f.confirmed %>
                                <p><%= f.id_as_alias %></p>
                                <p><%= link_to f.id_as_alias %></p>
                                <p><%= link_to "Remove friend", :controller => "friends", :action => "deny", :id => f.id %></p>
                            <% else %>
                                <p><%= link_to f.id_as_alias %></p>
                                <p><%= link_to "Confirm Friend ", :controller => "friends", :action => "confirm", :id => f.id %></p>
                                <p><%= f.confirmed %></p>
                            <% end %>
                        <% end %>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>Upcoming Events</h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 news">
                <%= render :template => "news/index/", :news => @news %>
                <hr />
            </div>
        </div>
	</div>
	<div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12 topics">
                <%= render :template => "topics/latest/", :alias => current_user.alias %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <p><%= link_to "View forums", forums_path %></p>
                <hr />
            </div>
        </div>
	</div>
</div>

