<div class="row">
    <div class="col-md-12">
        <%= form_for @post do |f| %>
            <%= f.hidden_field(:topic_id, :value => params[:format].to_i) %>
            <div class="row">
                <div class="col-md-12">
                    <%= f.label :title %>
                </div>
                <div class="col-md-12">
                    <%= f.text_field :title %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <%= f.label :description %>
                </div>
                <div class="col-md-12">
                    <%= f.text_field :description %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><%= f.submit %><p>
                </div>
            </div>
        <% end %>
    </div>
</div>