<div class="row">
    <div class="span12">
        <%= form_for @location do |f| %>
            <div class="row">
                <div class="span6">
                    <%= f.label :location %>
                </div>
                <div class="span6">
                    <%= f.text_field :location %>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <%= f.label :city %>
                </div>
                <div class="span6">
                    <%= f.text_field :city %>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <%= f.label :town %>
                </div>
                <div class="span6">
                    <%= f.text_field :town %>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <%= f.label :street %>
                </div>
                <div class="span6">
                    <%= f.text_field :street %>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <%= f.label :houseno %>
                </div>
                <div class="span6">
                    <%= f.text_field :houseno %>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <%= f.label :postcode %>
                </div>
                <div class="span6">
                    <%= f.text_field :postcode %>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <%= f.label :lat %>
                </div>
                <div class="span6">
                    <%= f.text_field :lat %>
                </div>
            </div>
            <div class="row">
                <div class="span6">
                    <%= f.label :lng %>
                </div>
                <div class="span6">
                    <%= f.text_field :lng %>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <%= f.submit %>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="row">
    <div class="span12">
        <div id="map-canvas" class="locations"></div>
    </div>
</div>