<div class="row">
    <div class="col-md-12 gMap">
        <p>Drag the marker to your location</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 gMap">
        <div id="locations-map-new" class="maps"></div>
    </div>
</div>

<%= form_for @location do |f| %>
    <% if !@location.errors.empty? %>
        <div class="row">
            <div class="col-md-12 errorBox">
                <h4>Error report</h4>
                <% @location.errors.each do |attribute, error| %>
                    <div class="row">
                        <div class="col-md-12">
                            <%= attribute %>
                            <%= error %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    <% end %>
    <div class="row">
        <div class="col-md-12">
            <%= f.hidden_field :country, :placeholder => "Country" %>
            <%= f.hidden_field :city, :placeholder => "City" %>
            <%= f.hidden_field :town, :placeholder => "Town" %>
            <%= f.hidden_field :street, :placeholder => "Street" %>
            <%= f.hidden_field :houseno, :placeholder => "House Number" %>
            <%= f.hidden_field :postcode, :placeholder => "Postocde" %>
            <%= f.hidden_field :lat, :placeholder => "Lattitude" %>
            <%= f.hidden_field :lng, :placeholder => "Longnitude" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= f.submit "Submit Location", :class => "flat-rounded-button" %>
        </div>
    </div>
<% end %>