<div class="row">
    <div class="col-sm-12">
        <h1>All of our members profiles</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <%= link_to "Update your location details", new_location_path %>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Search by</h4>
    </div>
</div>
<%= fields_for "search[params]" do |f| %>
    <div class="row">
        <div class="col-sm-6">
            <p>asd</p>
        </div>
        <div class="col-sm-6">
            <%= f.check_box "sad" %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <%= f.submit "Search", :class => "flat-rounded-button" %>
        </div>
    </div>
<% end %>
<div class="row">
    <% @users.each do |f|%>
        <div class="col-sm-3 index-wrapper">
            <div class="row">
                <div class="col-sm-12 locationOverlayText">
                    <h4><%= link_to f.alias, "/" + f.alias %></h4>
                    <% if f.location %>
                        <h4><%= f.location.city %></h4>
                    <% else %>
                        <p>No location data availiable</p>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <%= image_tag f.avatar.url(:medium) %>
                </div>
            </div>
        </div>
    <% end %>
</div>
<%= no_results(@users, "users").html_safe %>
<div class="row">
    <div class="col-sm-12 gMap">
        <div id="locations-map-index" class="maps"></div>
    </div>
</div>