<div class="row">
    <div class="col-md-12">
        <h1>All of our members profiles</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Search by</h3>
        <dl>
            <%= fields_for "search[params]" do |f| %>
                <dd>asd <%= f.check_box "sad" %> asd <%= f.check_box "Distance" %> asd <%= f.check_box "sad" %></dd>
                <%= f.submit "Search" %>
            <% end %>
        </dl>
    </div>
</div>
<div class="row">
    <% @users.each do |f|%>
        <div class="col-md-3 index-wrapper">
            <div class="row">
                <div class="col-md-12 index-overlay">
                    <%= image_tag f.avatar.url(:medium) %>
                    <div class="locationOverlayText">
                        <h3><%= link_to f.alias, "/" + f.alias %></h3>
                        <% if f.location %>
                            <h4><%= f.location.city %></h4>
                        <% else %>
                            <p>No location data availiable</p>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="locations-map"></div>
    </div>
</div>