    <!DOCTYPE html>
<html>
<head>
  <title><%= global_website_name %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application.css", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container main">
        <div class="row">
            <div class="col-sm-12 content">
                <div class="row sidebar">
                    <div class="col-sm-1 visible-xs">
                        <span>
                            <%=link_to "", :class => "menu" do %>
                                <span><i class="fa fa-list fa-2x"></i> Menu</span>
                            <% end %>
                        </span>
                    </div>
                    <div class="col-sm-2">
                        <%= link_to "/photos" do %>
                            <i class="fa fa-picture-o fa-2x"></i>
                            <span>Photos</span>
                        <% end %>
                    </div>
                    <div class="col-sm-2">
                        <%= link_to "/forums" do %>
                            <i class="fa fa-users fa-2x"></i>
                            <span>Forums</span>
                        <% end %>
                    </div>
                    <div class="col-sm-2">
                        <%= link_to "/search" do %>
                            <i class="fa fa-search fa-2x"></i>
                            <span>Search</span>
                        <% end %>
                    </div>
                    <div class="col-sm-2">
                        <% if (current_user) %>
                            <%= link_to "/messages" do %>
                                <i class="fa fa-envelope-o fa-2x"></i>
                                <span>Mailbox (<%= current_user.messages.count.to_s %>)</span>
                            <% end %>
                        <% else %>
                            <%= link_to "/messages" do %>
                                <i class="fa fa-envelope-o fa-2x"></i>
                                <span>Mailbox</span>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="col-sm-3">
                        <% if user_signed_in? %>
                            <div class="col-sm-2">
                                <%= link_to "/" + current_user.alias do %>
                                    <i class="fa fa-user fa-2x"></i>
                                    <span>View Profile</span>
                                <% end %>

                            </div>
                            <div class="col-sm-2">
                                <%= link_to "/users/sign_out", :method => :delete do %>
                                    <i class="fa fa-sign-out fa-2x"></i>
                                    <span>Logout</span>
                                <% end %>
                            </div>
                        <% else %>
                            <%= link_to "/users/sign_in" do %>
                                <i class="fa fa-sign-in fa-2x"></i>
                                <span>Login</span>
                            <% end %>
                        <% end %>
                    </div>
                </div>
                <div class="row title">
                    <div class="col-sm-2">
                        <%= link_to "/" do %>
                            <i class="fa fa-home fa-2x"></i> 
                            <span>Home</span>
                        <% end %>
                    </div>
                    <div class="col-sm-4">
                        <h1><%= global_website_name_linked %></h1>
                    </div>
                    <div class="col-sm-6 slideshow">
                        <span>Slideshow</span>
                    </div>
                </div>
                <div class="row yield">
                    <div class="col-sm-12 <%= params[:controller] %>">
                        <%= yield %>
                    </div>
                </div>
                <div class="row information">
                    <div class="col-sm-12">
                        <p>Copyright stuff</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3gx_9qaR1qczUh-vHg35EhzDYTtfwfNs&sensor=false">
    </script>
    <%= javascript_include_tag "application" %>
</body>
</html>
