    <!DOCTYPE html>
<html>
<head>
    <title><%= global_website_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application.css", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "top-load" %>
</head>
<body>
    <div class="container main">
        <div class="row">
            <div class="col-sm-2" id="sidebar">
                <div class="row">
                    <%=link_to "", :class => "menu col-sm-12 visible-xs" do %>
                        <i class="fa fa-list fa-2x"></i>
                        <span>Menu</span>
                    <% end %>
                </div>
                <div class="row">
                    <%= link_to "/", :class => "col-sm-12" do %>
                        <i class="fa fa-home fa-2x"></i> 
                        <span>Home</span>
                    <% end %>
                </div>
                <div class="row">
                    <%=link_to "/news", :class => "col-sm-12" do %>
                        <i class="fa fa-file-text fa-2x"></i>
                        <span>News</span>
                    <% end %>
                </div>
                <div class="row">
                    <%= link_to "/photos", :class => "col-sm-12" do %>
                        <i class="fa fa-picture-o fa-2x"></i>
                        <span>Photos</span>
                    <% end %>
                </div>
                <div class="row">
                    <%= link_to "/forums", :class => "col-sm-12" do %>
                        <i class="fa fa-users fa-2x"></i>
                        <span>Forums</span>
                    <% end %>
                </div>
                <div class="row">
                    <%= link_to "/search", :class => "col-sm-12" do %>
                        <i class="fa fa-search fa-2x"></i>
                        <span>Search</span>
                    <% end %>
                </div>
                <div class="row">
                    <% if (current_user) %>
                        <%= link_to "/messages", :class => "col-sm-12" do %>
                            <i class="fa fa-envelope-o fa-2x"></i>
                            <span>Mailbox (<%= current_user.messages.where(:read => false).count.to_s %>)</span>
                        <% end %>
                    <% else %>
                        <%= link_to "/messages", :class => "col-sm-12" do %>
                            <i class="fa fa-envelope-o fa-2x"></i>
                            <span>Mailbox</span>
                        <% end %>
                    <% end %>
                </div>
                <div class="row">
                    <% if user_signed_in? %>
                        <%= link_to "/" + current_user.alias, :class => "col-sm-12" do %>
                            <i class="fa fa-user fa-2x"></i>
                            <span>View Profile</span>
                        <% end %>
                    </div>
                    <div class="row">
                        <%= button_to "Logout", "/users/sign_out", :method => :delete, :class => "col-sm-12" %>
                    <% else %>
                        <%= button_to "Sign In", "/users/sign_in", :class => "col-sm-12" %>
                    <% end %>
                </div>
            </div>
            <div class="col-sm-10" id="content">
                <div class="row main-title">
                    <div class="col-sm-4">
                        <h1><%= global_website_name_linked %></h1>
                    </div>
                    <div class="col-sm-6 slideshow">
                        <span>Slideshow</span>
                    </div>
                </div>
                <% if notice %>
                    <div class="row">
                        <div class="col-sm-12 notice">
                            <%= notice %>
                        </div>
                    </div>
                <% end %>
                <div class="row main-yield">
                    <div class="col-sm-12 <%= params[:controller] %>">
                        <%= yield %>
                    </div>
                </div>
                <div class="row main-information">
                    <div class="col-sm-12">
                        <p>Copyright stuff</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3gx_9qaR1qczUh-vHg35EhzDYTtfwfNs&sensor=false">
    </script>
    <%= javascript_include_tag "bottom-load" %>
</body>
</html>
