<!DOCTYPE html>
<html>
<head>
  <title>AdultApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application.css", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <span class="glyphicon glyphicon-search"></span>

    <div class="container main">
        <div class="row">
            <div class="col-md-12 content">
                <div class="row sidebar">
                    <div class="col-md-2">
                        <p><%=link_to "Home", "/" %></p>
                    </div>
                    <div class="col-md-2">
                        <p><%=link_to "Photos", "/photos" %></p>
                    </div>
                    <div class="col-md-2">
                        <p><%=link_to "Forum", "/forums" %></p>
                    </div>
                    <div class="col-md-2">
                        <p><%=link_to "Search", "/search" %></p>
                    </div>
                    <div class="col-md-2">
                        <p><%=link_to "Mailbox", "/messages" %></p>
                    </div>
                    <div class="col-md-2">
                        <% if user_signed_in? %>
                            <div class="row">
                                <div class="col-md-8">
                                    <p><%= link_to "View Profile", "/" + current_user.alias %></p>
                                </div>
                                <div class="col-md-4">
                                    <p><%= link_to "Logout", "/users/sign_out", :method => :delete %></p>
                                </div>
                            </div>
                        <% else %>
                            <p><%=link_to "Login", "/users/sign_in" %></p>
                        <% end %>
                    </div>
                </div>
                <div class="row title">
                    <div class="col-md-6">
                        <h1><%= global_website_name_linked %></h1>
                    </div>
                    <div class="col-md-6 slideshow">
                        <p>Slideshow</p>
                    </div>
                </div>
                <div class="row yield">
                    <div class="col-md-12">
                        <%= yield %>
                    </div>
                </div>
                <div class="row information">
                    <div class="col-md-12">
                        <p>Copyright stuff</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3gx_9qaR1qczUh-vHg35EhzDYTtfwfNs&sensor=false">
    </script>
    <%= javascript_include_tag "application" %>
</body>
</html>
